/* Estilos generales que se aplican a todas las páginas */
body {
    background-image: url('../LOGO.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.cerrar-sesion {
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 1000;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    padding: 5px 0;
    text-align: right;
}

.mx-auto {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-top: -20px;
}

.form-control {
    max-width: 400px;
    width: auto;
}

.form-control-sm {
    width: 100%;
    max-width: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.factubarrio {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-top: -20px;
}

/* Ajustes para tablets */
@media (max-width: 768px) {
    .factubarrio {
        font-size: 50px;
        margin-top: 10px;
    }
}

/* Ajustes para teléfonos móviles */
@media (max-width: 480px) {
    .factubarrio {
        font-size: 30px;
        margin-top: 20px;
    }
}

/* Estilos específicos para la página de inicio de sesión (index) */
.login-page .factubarrio {
    margin-top: -20px; /* Esto ya está en los estilos generales */
}

/* Estilos específicos para la página principal */
.main-page .bienvenido {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-top: 310px;
}

@media (max-width: 768px) {
    .main-page .bienvenido {
        font-size: 50px;
        margin-top: 150px;
    }
}

@media (max-width: 480px) {
    .main-page .bienvenido {
        font-size: 30px;
        margin-top: 50px;
    }
}
