{% extends 'layout.html' %}
{% block title %} ver_cliente{%endblock %}
{% block content %}
    <div class="container mt-5">
        <label for="tipoDocumento" class="form-label">Tipo de Documento:</label>
        <select class="form-control form-control-sm" id="tipoDocumento">
            <option value="CC">Cédula de Ciudadanía</option>
            <option value="TI">Tarjeta de Identidad</option>
            <option value="CE">Cédula de Extranjería</option>
            <option value="PA">Pasaporte</option>
            <option value="RC">Registro Civil</option>
            <option value="NIT">NIT</option>
        </select>
        <label for="buscarCedula" class="form-label">Número de Documento:</label>
        <input type="text" placeholder="Ingrese número del documento para mostrar" class="form-control form-control-sm" id="buscarCedula" onkeypress="handleKeyPress(event)">
        <button onclick="buscarCliente()" class="btn btn-primary mt-2">Buscar</button>
    </div>


    <div class="container mt-5">
        <h3>Información del Cliente</h3>
        <form>
            <div class="mb-3">
                <label>Nombre</label>
                <input type="text" class="form-control form-control-sm" id="clienteNombre">
            </div>
            <div class="mb-3">
                <label>Apellidos</label>
                <input type="text" class="form-control form-control-sm" id="clienteApellido">
            </div>
            <div class="mb-3">
                <label>Numero documento</label>
                <input type="text" class="form-control form-control-sm" id="clienteCedula">
            </div>
            <div class="mb-3">
                <label>Teléfono</label>
                <input type="text" class="form-control form-control-sm" id="clienteTelefono">
            </div>
            <div class="mb-3">
                <label>Dirección</label>
                <input type="text" class="form-control form-control-sm" id="clienteDireccion">
            </div>
            <div class="mb-3">
                <label>Email</label>
                <input type="email" class="form-control form-control-sm" id="clienteEmail">
            </div>
            <div class="mb-3">
                <label>Estado</label>
                <input type="text" class="form-control form-control-sm" id="clienteEstado" readonly>
            </div>
                
                
        </form>
    </div>
    <script>
        function handleKeyPress(event) {
            if (event.key === "Enter") {
                event.preventDefault();  // Previene que el formulario se envíe
                buscarCliente();  // Llama a la función que ejecuta la búsqueda
            }
        }
    </script>
        
    <script>
        function buscarCliente() {
            var tipoDocumento = document.getElementById('tipoDocumento').value; // Recoge el tipo de documento
            var numeroDocumento = document.getElementById('buscarCedula').value.trim(); // Recoge el número de documento
        
            if (!tipoDocumento || !numeroDocumento) {
                alert("Por favor, complete el tipo y número de documento antes de buscar.");
                return;
            }
        
            var clientes = JSON.parse(localStorage.getItem('clientes')) || [];
            // Busca un cliente que coincida con el tipo y número de documento y que no esté eliminado
            var clienteEncontrado = clientes.find(cliente => cliente.tipoDocumento === tipoDocumento && cliente.numeroDocumento === numeroDocumento && !cliente.isDeleted);
        
            if (clienteEncontrado) {
                // Actualiza los campos de la interfaz de usuario con la información del cliente encontrado
                document.getElementById('clienteNombre').value = clienteEncontrado.nombre;
                document.getElementById('clienteApellido').value = clienteEncontrado.apellido;
                document.getElementById('clienteCedula').value = clienteEncontrado.numeroDocumento; // Suponiendo que este campo es para mostrar el número de documento
                document.getElementById('clienteTelefono').value = clienteEncontrado.telefono;
                document.getElementById('clienteDireccion').value = clienteEncontrado.direccion;
                document.getElementById('clienteEmail').value = clienteEncontrado.email;
                document.getElementById('clienteEstado').value = clienteEncontrado.isActive ? 'Habilitado' : 'Deshabilitado'; // Estado como texto
            } else {
                alert('No se encontró un cliente con el tipo y número de documento especificados.');
                limpiarCampos(); // Limpia los campos si no se encuentra el cliente
            }
        }
        
        function limpiarCampos() {
            document.getElementById('clienteNombre').value = '';
            document.getElementById('clienteApellido').value = '';
            document.getElementById('clienteCedula').value = '';
            document.getElementById('clienteTelefono').value = '';
            document.getElementById('clienteDireccion').value = '';
            document.getElementById('clienteEmail').value = '';
            document.getElementById('clienteEstado').value = '';
        }
    </script>
{% endblock%}
    
        
        
    