{% extends 'layout.html' %}
{% block title %} ver_vendedor{%endblock %}
{% block content %}
    <div class="container mt-5">
        <h2>Buscar vendedor por Documento</h2>
        <label for="tipoDocumentoBuscar" class="form-label">Tipo de Documento:</label>
        <select class="form-control form-control-sm" id="tipoDocumentoBuscar">
            <option value="CC">Cédula de Ciudadanía</option>
            <option value="TI">Tarjeta de Identidad</option>
            <option value="CE">Cédula de Extranjería</option>
            <option value="PA">Pasaporte</option>
            <option value="RC">Registro Civil</option>
            <option value="NIT">NIT</option>
        </select>
        <label for="cedulaBuscar" class="form-label">Número de Documento:</label>
        <input type="text" id="cedulaBuscar" placeholder="Ingrese número del documento" class="form-control form-control-sm" onkeypress="handleKeyPress(event)">
        <button type="button" class="btn btn-primary mt-3 form-control-sm" onclick="buscarVendedor()">Buscar</button>
    </div>


    <div  id="infoVendedor" class="container mt-5">
        <h3>Información del Vendedor</h3>
        <form>
            <div class="mb-3">
                <label>Nombre</label>
                <input type="text" class="form-control form-control-sm" id="nombreVendedor" readonly> 
            </div>
            <div class="mb-3">
                <label>Apellidos</label>
                <input type="text" class="form-control form-control-sm" id="apellidoVendedor" readonly> 
            </div>
            <div class="mb-3">
                <label>Cédula</label>
                <input type="text" class="form-control form-control-sm" id="cedulaVendedor" readonly > 
            </div>
            <div class="mb-3">
                <label>Teléfono</label>
                <input type="text" class="form-control form-control-sm" id="telefonoVendedor" readonly> 
            </div>
            <div class="mb-3">
                <label>Dirección</label>
                <input type="text" class="form-control form-control-sm" id="direccionVendedor" readonly> 
            </div>
            <div class="mb-3">
                <label>Email</label>
                <input type="email" class="form-control form-control-sm" id="emailVendedor" readonly> 
            </div>
        </form>
    </div>

    <script>
        function handleKeyPress(event) {
            if (event.key === "Enter") {
                event.preventDefault();  // Previene que el formulario se envíe
                buscarVendedor();  // Llama a la función que ejecuta la búsqueda
            }
        }

        function buscarVendedor() {
            var tipoDocumento = document.getElementById('tipoDocumentoBuscar').value;
            var numeroDocumento = document.getElementById('cedulaBuscar').value.trim();
            if (!tipoDocumento || !numeroDocumento) {
                alert("Por favor, seleccione el tipo y número de documento antes de buscar.");
                return;
            }

            var vendedores = JSON.parse(localStorage.getItem('Vendedores')) || [];
            var vendedorEncontrado = vendedores.find(v => v.tipoDocumento === tipoDocumento && v.numeroDocumento === numeroDocumento && !v.isDeleted);

            if (vendedorEncontrado) {
                document.getElementById('nombreVendedor').value = vendedorEncontrado.nombre;
                document.getElementById('apellidoVendedor').value = vendedorEncontrado.apellido;
                document.getElementById('cedulaVendedor').value = vendedorEncontrado.numeroDocumento;
                document.getElementById('telefonoVendedor').value = vendedorEncontrado.telefono;
                document.getElementById('direccionVendedor').value = vendedorEncontrado.direccion;
                document.getElementById('emailVendedor').value = vendedorEncontrado.email;
                document.getElementById('infoVendedor').classList.add('visible');
            } else {
                document.getElementById('infoVendedor').classList.remove('visible');
                alert("No se encontró un vendedor con ese tipo y número de documento.");
            }
        }
    </script>
{% endblock%}
  
   
    
   