{% extends 'layout.html' %}
{% block title %} crear_vendedor{%endblock %}
{% block content %}
    <div class="container mt-5">
        <h2>Registrar vendedor</h2>
        <form id="formCrearVendedor" onsubmit="guardarVendedor(event)">
            <div class="mb-3">
                <label for="tipoDocumentoVendedor" class="form-label">Tipo de Documento:</label>
                <select class="form-control form-control-sm" id="tipoDocumentoVendedor" required>
                    <option value="">Seleccione tipo de documento</option>
                    <option value="CC">Cédula de Ciudadanía</option>
                    <option value="TI">Tarjeta de Identidad</option>
                    <option value="CE">Cédula de Extranjería</option>
                    <option value="PA">Pasaporte</option>
                    <option value="NIT">NIT</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="numeroDocumentoVendedor" class="form-label">Número de Documento:</label>
                <input type="text" class="form-control form-control-sm" id="numeroDocumentoVendedor" name="numeroDocumentoVendedor" required>
            </div>
        
            <div class="mb-3">
                <label for="nombreVendedor" class="form-label">Nombre</label>
                <input type="text" class="form-control form-control-sm" id="nombreVendedor" name="nombreVendedor" required>
            </div>
            <div class="mb-3">
                <label for="apellidoVendedor" class="form-label">Apellidos</label>
                <input type="text" class="form-control form-control-sm" id="apellidoVendedor" name="apellidoVendedor" required>
            </div>
            <div class="mb-3">
                <label for="telefonoVendedor" class="form-label">Teléfono</label>
                <input type="tel" class="form-control form-control-sm" id="telefonoVendedor" name="telefonoVendedor" required>
            </div>
            <div class="mb-3">
                <label for="direccionVendedor" class="form-label">Dirección</label>
                <input type="text" class="form-control form-control-sm" id="direccionVendedor" name="direccionVendedor" required>
            </div>
            <div class="mb-3">
                <label for="emailVendedor" class="form-label">Email</label>
                <input type="email" class="form-control form-control-sm" id="emailVendedor" name="emailVendedor" required>
            </div>
            <button type="submit" class="btn btn-primary form-control-sm">Guardar vendedor</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/vendedores/crear_vendedor.js') }}"></script>
{% endblock%}
    
    
   