{% extends 'layout.html' %}
{% block title %} editar_cliente{%endblock %}
{% block content %}
    <div class="container mt-5">
        <label for="tipoDocumento" class="form-label">Tipo de Documento:</label>
        <select class="form-control form-control-sm" id="tipoDocumento">
            <option value="CC">Cédula de Ciudadanía</option>
            <option value="TI">Tarjeta de Identidad</option>
            <option value="CE">Cédula de Extranjería</option>
            <option value="PA">Pasaporte</option>
            <option value="RC">Registro Civil</option>
            <option value="NIT">NIT</option>
        </select>
        <label for="buscarCedula" class="form-label">Número de Documento:</label>
        <input type="text" placeholder="Ingrese número del documento para mostrar" class="form-control form-control-sm" id="buscarCedula" onkeypress="handleKeyPress(event)">
        <button onclick="buscarYEditarCliente()" class="btn btn-primary mt-2">Buscar</button>
    </div>

    <div id="datosCliente" class="container mt-5 ">
        <h2>Editar Cliente</h2>
        <form id="formCrearProducto" onsubmit="guardarCambios(event)">
            <div class="mb-3">
                <label for="nombreCliente" class="form-label">Nombre</label>
                <input type="text" class="form-control form-control-sm" id="nombreCliente" name="nombreCliente" required>
            </div>
            <div class="mb-3">
                <label for="apellidoCliente" class="form-label">Apellidos</label>
                <input type="text" class="form-control form-control-sm" id="apellidoCliente" name="apellidoCliente" required>
            </div>
            <div class="mb-3">
                <label for="cedulaCliente" class="form-label">Numero documento</label>
                <input type="text" class="form-control form-control-sm" id="cedulaCliente" name="cedulaCliente" readonly>
            </div>
            <div class="mb-3">
                <label for="telefonoCliente" class="form-label">Teléfono</label>
                <input type="tel" class="form-control form-control-sm" id="telefonoCliente" name="telefonoCliente">
            </div>
            <div class="mb-3">
                <label for="direccionCliente" class="form-label">Dirección</label>
                <input type="text" class="form-control form-control-sm" id="direccionCliente" name="direccionCliente" required>
            </div>
            <div class="mb-3">
                <label for="emailCliente" class="form-label">Email</label>
                <input type="email" class="form-control form-control-sm" id="emailCliente" name="emailCliente" required>
            </div>
            <div class="mb-3">
                <label for="estadoCliente" class="form-label">Estado del Cliente</label>
                <input type="text" class="form-control form-control-sm" id="estadoCliente" name="estadoCliente" readonly>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary form-control-sm">Guardar Cambios</button>
            </div>
      
        </form>
        <form>
            <div class="container mt-5">
                <h2>Detalles del Cliente</h2>
                <div id="clienteDetalles" class="hidden">
                    <!-- Campos existentes... -->
                </div>
                <!-- Botones para controlar el estado del cliente -->
                <button type="button" class="btn btn-warning mb-2" onclick="toggleEstadoCliente()">Bloquear/Desbloquear Cliente</button>
                <button type="button" class="btn btn-danger" onclick="eliminarCliente()">Eliminar Cliente</button>

            </div>
        
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/clientes/editar_cliente.js') }}"></script>   
    
{% endblock%}
    
    
    